.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background-color: #cccccc;
    font-family: Arial,Helvetica,sans-serif;
}

.app-title {
    float: right;
    margin: 0 0 30px 10px;
}

.downlink-input {
    padding: 10px 10px 30px 10px;
    margin: 10px;
}

.message-output {
    padding: 10px;
    margin: 10px;
}

.panel-body {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}
